<h1>Races</h1>

<table>
  <tr>
    <th>Race</th>
    <th>&nbsp;</th>
    <th>Left Lane</th>
    <th>Time</th>
    <th>&nbsp;</th>
    <th>Right Lane</th>
    <th>Time</th>
    <th>&nbsp;</th>
    <th>Winner</th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.id %></td>
    <td>&nbsp;</td>
    <td><%= race.scout_1.name %></td>
    <td><%= race.time1 %></td>
    <td>&nbsp;</td>
    <td><%= race.scout_2.name %></td>
    <td><%= race.time2 %></td>
    <td>&nbsp;</td>
    <td><%= race.winner_name %></td>
    <td><%= link_to 'edit', edit_race_path(race) %></td>
  </tr>
<% end %>
</table>

<br />
